# Publishing is driven by the "files" allowlist in package.json (build, src,
# LICENSE, README.md). This file just keeps dev cruft out of any included dirs.
__mocks__
__tests__
*.test.ts
*.test.tsx
*.tsbuildinfo
/*.tgz
